
h1{
    color: white;
    font-family: 'Courgette', cursive;
    text-align: center;
    font-weight: bold; 
    font-size: 46px;
    margin-top: 0px; 
    margin-bottom: 15px;
    padding-top: 15px;
    position: relative;
    left: -100px;
    bottom: -50px;
}

* {
    box-sizing: border-box;
    color: black;
    font-family: 'Courgette', cursive;
}

html,
body{
    height: auto;
    background-color: #ffffff;
    margin: 0;
}



p{
    color: white;
}

.web-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
}

.navbar-grid{
    background-image: linear-gradient(#112121, #116161, #142929);
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    z-index: 7;
    position: sticky;
    top: 0;
}

.navbar-left{
    grid-column: 1;
    float: left;;
    margin: auto;
    margin-left: 10%;
    padding: 7px 45px 7px 45px;
    font-weight: bold;
    border: none;
}

.navbar-center{
    grid-column: 2;
    display: grid;
    grid-template-columns: 156px auto;
    grid-template-rows: auto;
}
.navbar-center > img{
    grid-column: 1;
    grid-row: 1;
}
.navbar-center > h1{
    grid-column: 2;
    grid-row: 1;
}


.navbar-right{
    grid-column: 3;
    grid-row: 1;
    float: right;
    margin: auto;
    margin-right: 15%;
    cursor: pointer;
}

.navbar-right > img {
    width: 100px;
    height: auto;
}


.btn-shop{
        float: left;;
        margin: auto;
        margin-left: 10%;
        padding: 7px 45px 7px 45px;
        font-size: 20px;
        border: none;
        color:black;
        background-color: white;
}

.message-grid{
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr auto 50%;
    grid-template-rows: auto;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.message-left{
    grid-column: 1;
    font-size: 23px;
    padding: 25px 5% 25px 5%;
}

.message-center > img{
    grid-column: 2;
    position: relative;
    /* left: 500px; */
    margin-right: -307px;
    margin-top: -31px;
    margin-bottom: -91px;
    height: 281px;
    z-index: 2;

}

.message-right{
    grid-column: 3;
    text-align: center;
    padding: 60px 5% 60px 5%;
    border-left: 1px solid black;
    z-index: 3;
}

.product-container-grid{
    grid-row: 3;
    display: grid;
    grid-template-columns: 38% 1fr 1fr 1fr;
    grid-template-rows: auto;
    border-bottom: 1px solid Black;
}

.product-container-grid > h2{
    grid-column: 1;
    margin: auto;
    padding: 17%;
    border-right: 1px solid black;
    font-weight: normal;
    font-size: 70px;
}

.product-container-grid > img{
    height: 170px;
    margin: auto;
}

.product-one-grid,
.product-two-grid,
.product-three-grid{
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: -17px 164px auto 40px;
    background-image: linear-gradient(#112121, #116161, #142929);
    margin-top: 25px;
    margin-bottom: 25px;
    width: 290px;
    height: 337px;
    box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.45);
}

.product-one-grid{
    grid-column: 2;
}

.product-two-grid{
    grid-column: 3;
}

.product-three-grid{
    grid-column: 4;
}

.product-one-grid > img,
.product-two-grid > img,
.product-three-grid > img{
    height: 170px;
    display: block;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.center-text{
    text-align: center;
}



.header-title{
    background-color: Black;
    color:white; 
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.btn-add-cart{
    background-color: black;
    font-size: 12px;
    border: none;
}

.page-footer-grid{
    background-image: linear-gradient(#112121, #116161, #142929);
    height: auto;
    padding-top: 15px;
    padding-bottom: 107px;
}

.btn-contact{
    background-color: white;
    margin: auto;
    padding: 10px 50px 10px 50px;
    font-size: 23px;
    border: none;
    display: flex;
    color: black;
}

.cart{
    height: 80px;
}