html, body {
  height: 100%;
  margin: 0;
}


.web-grid {
  display: grid;
  grid-template-columns: minmax(300px, auto) 1fr;
  grid-template-rows: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../Images/photo-of-rain-drops-1539116.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}
  
.sidenav {
  grid-column: 1;
  grid-row: 1;
  height: 100%;
  width: 0;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
}
  
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
  
.sidenav a:hover {
  color: #f1f1f1;
}
  
.sidenav .closebtn {
  grid-column: 1;
  grid-row: 1;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 170px;
}

.main-style{
  grid-column: 1;
  grid-row: 1;
  transition: margin-left .5s;
  padding: 16px;
  color: white;
}

.info-grid{
  grid-row: 1;
  grid-column: 2;
  margin: auto;
  margin: auto;
  margin-top: 100px;
  margin-right: 500px;
}

.bare-bears {
  height: auto;
  display: block;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

img.bare-bears {
  border-radius: 50%;
  box-shadow: 100px 100px 330px black inset;;
}

.my-info{
  text-align: center;
  color: White;
  margin: 20px;
}

p.my-info{
  text-align: center;
  color: White;
  font-size: 20px;
}


h2 {
  padding: 20px 28px 20px;
  width: 435px;
  margin: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 13px;
}